In [653]:
import numpy as np
import pandas as pd

In [654]:
data = pd.read_csv('pl23.csv', usecols=['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', ])

In [655]:
data.head()

         HomeTeam       AwayTeam  FTHG  FTAG FTR
0  Crystal Palace        Arsenal     0     2   A
1          Fulham      Liverpool     2     2   D
2     Bournemouth    Aston Villa     2     0   H
3           Leeds         Wolves     2     1   H
4       Newcastle  Nott'm Forest     2     0   H

In [656]:
teams = pd.concat([data['HomeTeam'], data['AwayTeam']]).unique()
teams = pd.DataFrame(teams, columns=['Team'])
teams_dict = {team: i+1 for i, team in enumerate(teams['Team'])}
teams

              Team
0   Crystal Palace
1           Fulham
2      Bournemouth
3            Leeds
4        Newcastle
5        Tottenham
6          Everton
7        Leicester
8       Man United
9         West Ham
10     Aston Villa
11         Arsenal
12        Brighton
13        Man City
14     Southampton
15          Wolves
16       Brentford
17   Nott'm Forest
18         Chelsea
19       Liverpool

In [657]:
data['HomeTeam'] = data['HomeTeam'].map(teams_dict)
data['AwayTeam'] = data['AwayTeam'].map(teams_dict)

In [658]:
for index, row in data.iterrows():
    if row['FTR'] == 'H':
        data.at[index, 'FTR'] = row['HomeTeam']
    elif row['FTR'] == 'D':
        data.at[index, 'FTR'] = 0
    elif row['FTR'] == 'A':
        data.at[index, 'FTR'] = row['AwayTeam']

In [659]:
data.rename(columns={"FTHG": "HomeGoals", "FTAG": "AwayGoals", "FTR": "Winner"}, inplace=True)

In [660]:
team_stats_list = []

for team_name in teams['Team']:
    team_id = teams_dict[team_name]  # Get TeamID from the mapping
    gf_home, ga_home, gf_away, ga_away, wins_home, draws_home, losses_home, wins_away, draws_away, losses_away = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0

    gf, ga, wins, draws, losses = 0, 0, 0, 0, 0

    for _, match in data.iterrows():
    # Check home matches
        if match['HomeTeam'] == team_id:
            gf_home += match['HomeGoals']
            ga_home += match['AwayGoals']
            
            if match['Winner'] == team_id:
                wins_home += 1
            elif match['Winner'] == 0:
                draws_home += 1
            else:
                losses_home += 1
                
        # Check away matches
        elif match['AwayTeam'] == team_id:
            gf_away += match['AwayGoals']
            ga_away += match['HomeGoals']
            
            if match['Winner'] == team_id:
                wins_away += 1
            elif match['Winner'] == 0:
                draws_away += 1
            else:
                losses_away += 1

    
    # Append team stats as a dictionary
    team_stats_list.append({
        "Team": team_name,
        "TeamID": team_id,
        "GoalsForHome": gf_home,
        "GoalsAgainstHome": ga_home,
        "GoalsForAway": gf_away,
        "GoalsAgainstAway": ga_away,
        "WinsHome": wins_home,
        "DrawsHome": draws_home,
        "LossesHome": losses_home,
        "WinsAway": wins_away,
        "DrawsAway": draws_away,
        "LossesAway": losses_away,
        "GoalsFor": gf_home + gf_away,
        "GoalsAgainst": ga_home + ga_away,
        "GoalsDifference": gf_home + gf_away - ga_home - ga_away,
        "Wins": wins_home + wins_away,
        "Draws": draws_home + draws_away,
        "Losses": losses_home + losses_away
    })

In [661]:
team_stats = pd.DataFrame(team_stats_list)

In [676]:
pl_table = pd.read_csv('pl23-table.csv')
pl_table

    Rk            Squad  Pts  Pts/MP    xG   xGA   xGD  xGD/90
0    1  Manchester City   89    2.34  78.6  32.1  46.5    1.22
1    2          Arsenal   84    2.21  71.6  42.0  29.6    0.78
2    3   Manchester Utd   75    1.97  67.7  50.4  17.3    0.45
3    4    Newcastle Utd   71    1.87  71.9  39.5  32.3    0.85
4    5        Liverpool   67    1.76  71.5  50.8  20.7    0.55
5    6         Brighton   62    1.63  73.3  50.2  23.1    0.61
6    7      Aston Villa   61    1.61  50.3  52.5  -2.2   -0.06
7    8        Tottenham   60    1.58  57.0  49.6   7.4    0.20
8    9        Brentford   59    1.55  56.3  48.8   7.5    0.20
9   10           Fulham   52    1.37  46.2  63.6 -17.4   -0.46
10  11   Crystal Palace   45    1.18  39.3  48.1  -8.8   -0.23
11  12          Chelsea   44    1.16  49.5  52.5  -3.0   -0.08
12  13           Wolves   41    1.08  36.8  59.9 -23.0   -0.61
13  14         West Ham   40    1.05  49.2  53.0  -3.9   -0.10
14  15      Bournemouth   39    1.03  38.5  63.8 -25.3   -0.67
15  16  Nott'ham Forest   38    1.00  39.3  64.2 -24.9   -0.66
16  17          Everton   36    0.95  45.2  65.5 -20.4   -0.54
17  18   Leicester City   34    0.89  50.5  63.3 -12.8   -0.34
18  19     Leeds United   31    0.82  47.3  67.1 -19.8   -0.52
19  20      Southampton   25    0.66  37.8  60.8 -23.0   -0.61

In [664]:
teams_dict

{'Crystal Palace': 1,
 'Fulham': 2,
 'Bournemouth': 3,
 'Leeds': 4,
 'Newcastle': 5,
 'Tottenham': 6,
 'Everton': 7,
 'Leicester': 8,
 'Man United': 9,
 'West Ham': 10,
 'Aston Villa': 11,
 'Arsenal': 12,
 'Brighton': 13,
 'Man City': 14,
 'Southampton': 15,
 'Wolves': 16,
 'Brentford': 17,
 "Nott'm Forest": 18,
 'Chelsea': 19,
 'Liverpool': 20}

In [677]:
squad_dict = {
    'Liverpool': "Liverpool",
    'Manchester City': "Man City",
    "Arsenal": "Arsenal",
    'Chelsea': "Chelsea",
    'Newcastle Utd': "Newcastle",
    'Aston Villa': "Aston Villa",
    "Nott'ham Forest": "Nott'm Forest",
    'Brighton': "Brighton",
    'Bournemouth': "Bournemouth",
    'Brentford': "Brentford",
    'Fulham': "Fulham",
    'Crystal Palace': "Crystal Palace",
    'Everton': "Everton",
    'West Ham': "West Ham",
    'Manchester Utd': "Man United",
    'Wolves': "Wolves",
    'Tottenham': "Tottenham",
    'Southampton': 'Southampton',
    'Leeds United': 'Leeds',
    'Leicester City': 'Leicester',
}

for index, row in pl_table.iterrows():
    if row['Squad'] in squad_dict:
        pl_table.at[index, 'Squad'] = squad_dict[row['Squad']]

In [678]:
pl_table

    Rk           Squad  Pts  Pts/MP    xG   xGA   xGD  xGD/90
0    1        Man City   89    2.34  78.6  32.1  46.5    1.22
1    2         Arsenal   84    2.21  71.6  42.0  29.6    0.78
2    3      Man United   75    1.97  67.7  50.4  17.3    0.45
3    4       Newcastle   71    1.87  71.9  39.5  32.3    0.85
4    5       Liverpool   67    1.76  71.5  50.8  20.7    0.55
5    6        Brighton   62    1.63  73.3  50.2  23.1    0.61
6    7     Aston Villa   61    1.61  50.3  52.5  -2.2   -0.06
7    8       Tottenham   60    1.58  57.0  49.6   7.4    0.20
8    9       Brentford   59    1.55  56.3  48.8   7.5    0.20
9   10          Fulham   52    1.37  46.2  63.6 -17.4   -0.46
10  11  Crystal Palace   45    1.18  39.3  48.1  -8.8   -0.23
11  12         Chelsea   44    1.16  49.5  52.5  -3.0   -0.08
12  13          Wolves   41    1.08  36.8  59.9 -23.0   -0.61
13  14        West Ham   40    1.05  49.2  53.0  -3.9   -0.10
14  15     Bournemouth   39    1.03  38.5  63.8 -25.3   -0.67
15  16   Nott'm Forest   38    1.00  39.3  64.2 -24.9   -0.66
16  17         Everton   36    0.95  45.2  65.5 -20.4   -0.54
17  18       Leicester   34    0.89  50.5  63.3 -12.8   -0.34
18  19           Leeds   31    0.82  47.3  67.1 -19.8   -0.52
19  20     Southampton   25    0.66  37.8  60.8 -23.0   -0.61

In [679]:
for idx, team in team_stats.iterrows():
    for i,row in pl_table.iterrows():
        if team['Team'] == row['Squad']:
            team_stats.at[idx, "Pts"] = row["Pts"]
            team_stats.at[idx, "Pts/MP"] = row["Pts/MP"]
            team_stats.at[idx, "xG"] = row["xG"]
            team_stats.at[idx, "xGA"] = row["xGA"]
            team_stats.at[idx, "xGD"] = row["xGD"]
            team_stats.at[idx, "xGD/90"] = row["xGD/90"]
            team_stats.at[idx, "Rank"] = row["Rk"]
            

team_stats["Pts"] = team_stats["Pts"].astype('Int64')
team_stats["Rank"] = team_stats["Rank"].astype('Int64')

In [680]:
last_five_winners_dict = {"Man City": 4, "Liverpool":1}
team_stats["last_5_winners"] = 0

for idx, team in team_stats.iterrows():
    if team_stats.at[idx, "Team"] in last_five_winners_dict:
        team_stats.at[idx, "last_5_winners"] = last_five_winners_dict[team_stats.at[idx, "Team"]]

In [681]:
teams_elo_sofascore = {
    'Man United': 6.93,
    'Leeds': 6.69,
    'Arsenal': 6.97,
    'Everton': 6.82,
    'Newcastle': 6.94,
    "Nott'm Forest": 6.73,
    'West Ham': 6.82,
    'Brentford': 6.86,
    'Chelsea': 6.87,
    'Southampton': 6.72,
    'Brighton': 6.92,
    'Crystal Palace': 6.81,
    'Fulham': 6.93,
    'Man City': 7.07,
    'Leicester': 6.79,
    'Tottenham': 6.88,
    'Aston Villa': 6.83,
    'Bournemouth': 6.72,
    'Wolves': 6.77,
    'Liverpool': 6.93
}

team_stats["Rating"] = team_stats["Team"].map(teams_elo_sofascore)

In [682]:
team_stats

,Team,TeamID,GoalsForHome,GoalsAgainstHome,GoalsForAway,GoalsAgainstAway,WinsHome,DrawsHome,LossesHome,WinsAway,...,Losses,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Rank,last_5_winners,Rating
0,Crystal Palace,1,21,23,19,26,7,7,5,4,...,15,45,1.18,39.3,48.1,-8.8,-0.23,11,0,6.81
1,Fulham,2,31,29,24,24,8,5,6,7,...,16,52,1.37,46.2,63.6,-17.4,-0.46,10,0,6.93
2,Bournemouth,3,20,28,17,43,6,4,9,5,...,21,39,1.03,38.5,63.8,-25.3,-0.67,15,0,6.72
3,Leeds,4,26,37,22,41,5,7,7,2,...,21,31,0.82,47.3,67.1,-19.8,-0.52,19,0,6.69
4,Newcastle,5,36,14,32,19,11,6,2,8,...,5,71,1.87,71.9,39.5,32.3,0.85,4,0,6.94
5,Tottenham,6,37,25,33,38,12,1,6,6,...,14,60,1.58,57.0,49.6,7.4,0.20,8,0,6.88
6,Everton,7,16,27,18,30,6,3,10,2,...,18,36,0.95,45.2,65.5,-20.4,-0.54,17,0,6.82
7,Leicester,8,23,27,28,41,5,4,10,4,...,22,34,0.89,50.5,63.3,-12.8,-0.34,18,0,6.79
8,Man United,9,36,10,22,33,15,3,1,8,...,9,75,1.97,67.7,50.4,17.3,0.45,3,0,6.93
9,West Ham,10,26,24,16,31,8,4,7,3,...,20,40,1.05,49.2,53.0,-3.9,-0.10,14,0,6.82
10,Aston Villa,11,33,21,18,25,12,2,5,6,...,13,61,1.61,50.3,52.5,-2.2,-0.06,7,0,6.83
11,Arsenal,12,53,25,35,18,14,3,2,12,...,6,84,2.21,71.6,42.0,29.6,0.78,2,0,6.97
12,Brighton,13,37,21,35,32,10,4,5,8,...,12,62,1.63,73.3,50.2,23.1,0.61,6,0,6.92
13,Man City,14,60,17,34,16,17,1,1,11,...,5,89,2.34,78.6,32.1,46.5,1.22,1,4,7.07
14,Southampton,15,19,37,17,36,2,5,12,4,...,25,25,0.66,37.8,60.8,-23.0,-0.61,20,0,6.72
15,Wolves,16,19,20,12,38,9,3,7,2,...,19,41,1.08,36.8,59.9,-23.0,-0.61,13,0,6.77
16,Brentford,17,35,18,23,28,10,7,2,5,...,9,59,1.55,56.3,48.8,7.5,0.20,9,0,6.86
17,Nott'm Forest,18,27,24,11,44,8,6,5,1,...,18,38,1.00,39.3,64.2,-24.9,-0.66,16,0,6.73
18,Chelsea,19,20,19,18,28,6,7,6,5,...,16,44,1.16,49.5,52.5,-3.0,-0.08,12,0,6.87
19,Liverpool,20,46,17,29,30,13,5,1,6,...,9,67,1.76,71.5,50.8,20.7,0.55,5,1,6.93

In [683]:
team_stats.columns

Index(['Team', 'TeamID', 'GoalsForHome', 'GoalsAgainstHome', 'GoalsForAway',
       'GoalsAgainstAway', 'WinsHome', 'DrawsHome', 'LossesHome', 'WinsAway',
       'DrawsAway', 'LossesAway', 'GoalsFor', 'GoalsAgainst',
       'GoalsDifference', 'Wins', 'Draws', 'Losses', 'Pts', 'Pts/MP', 'xG',
       'xGA', 'xGD', 'xGD/90', 'Rank', 'last_5_winners', 'Rating'],
      dtype='object')

In [684]:
team_stats.to_csv("pl2022-23.csv", index=False)