In [1]:
import pandas as pd
import json

In [95]:
# Open the file and load its contents
with open("data/tunisian_league_data.json", "r", encoding="utf-8") as file:
    data = json.load(file)

In [96]:
standings = list()

for i in range(len(data["standings"][3]["rows"])):
    team = data["standings"][3]["rows"][i]["team"]["name"]
    position = data["standings"][3]["rows"][i]["position"]
    points = data["standings"][3]["rows"][i]["points"]
    wins = data["standings"][3]["rows"][i]["wins"]
    draws = data["standings"][3]["rows"][i]["draws"]
    losses = data["standings"][3]["rows"][i]["losses"]
    goals_for = data["standings"][3]["rows"][i]["scoresFor"]
    goals_against = data["standings"][3]["rows"][i]["scoresAgainst"]

    standings.append({
        "Team": team,
        "Position": position,
        "Pts": points,
        "Wins": wins,
        "Draws": draws,
        "Losses": losses,
        "GoalsFor": goals_for,
        "GoalsAgainst": goals_against,
        "GoalsDifference": goals_for - goals_against,
    })

In [97]:
all = pd.DataFrame(standings)
all

,Team,Position,Pts,Wins,Draws,Losses,GoalsFor,GoalsAgainst,GoalsDifference
0,Club Africain,1,25,7,4,3,11,6,5
1,US Monastir,2,23,6,5,3,8,5,3
2,Etoile Sportive Du Sahel,3,22,5,7,2,14,8,6
3,AS Rejiche,4,20,5,5,4,10,10,0
4,AS Soliman,5,17,4,5,5,7,9,-2
5,Olympique Béja,6,16,4,4,6,9,10,-1
6,ES Zarzis,7,13,3,4,7,6,13,-7
7,CS Chebba,8,13,3,4,7,6,10,-4

In [98]:
all.to_csv("data/2022/group2/group2_standings2022.csv", index=False)

In [99]:
# Open the file and load its contents
with open("data/home_standings.json", "r", encoding="utf-8") as file:
    data_home = json.load(file)

In [100]:
standings = list()

for i in range(len(data_home["standings"][3]["rows"])):
    team = data_home["standings"][3]["rows"][i]["team"]["name"]
    position = data_home["standings"][3]["rows"][i]["position"]
    points = data_home["standings"][3]["rows"][i]["points"]
    wins = data_home["standings"][3]["rows"][i]["wins"]
    draws = data_home["standings"][3]["rows"][i]["draws"]
    losses = data_home["standings"][3]["rows"][i]["losses"]
    goals_for = data_home["standings"][3]["rows"][i]["scoresFor"]
    goals_against = data_home["standings"][3]["rows"][i]["scoresAgainst"]

    standings.append({
        "Team": team,
        "Position": position,
        "Pts": points,
        "Wins": wins,
        "Draws": draws,
        "Losses": losses,
        "GoalsFor": goals_for,
        "GoalsAgainst": goals_against,
        "GoalsDifference": goals_for - goals_against,
    })

In [101]:
all_home = pd.DataFrame(standings)
all_home

,Team,Position,Pts,Wins,Draws,Losses,GoalsFor,GoalsAgainst,GoalsDifference
0,Club Africain,1,17,5,2,0,8,2,6
1,US Monastir,2,16,5,1,2,7,3,4
2,AS Soliman,3,14,4,2,1,5,2,3
3,Etoile Sportive Du Sahel,4,13,3,4,0,8,4,4
4,CS Chebba,5,10,2,4,1,4,2,2
5,AS Rejiche,6,8,2,2,3,4,6,-2
6,Olympique Béja,7,8,2,2,3,3,4,-1
7,ES Zarzis,8,5,1,2,3,2,7,-5

In [102]:
all_home.to_csv("data/2022/group2/group2_home_standings2022.csv", index=False)

In [103]:
# Open the file and load its contents
with open("data/away_standings.json", "r", encoding="utf-8") as file:
    data_away = json.load(file)

In [108]:
standings = list()

for i in range(len(data_away["standings"][3]["rows"])):
    team = data_away["standings"][3]["rows"][i]["team"]["name"]
    position = data_away["standings"][3]["rows"][i]["position"]
    points = data_away["standings"][3]["rows"][i]["points"]
    wins = data_away["standings"][3]["rows"][i]["wins"]
    draws = data_away["standings"][3]["rows"][i]["draws"]
    losses = data_away["standings"][3]["rows"][i]["losses"]
    goals_for = data_away["standings"][3]["rows"][i]["scoresFor"]
    goals_against = data_away["standings"][3]["rows"][i]["scoresAgainst"]

    standings.append({
        "Team": team,
        "Position": position,
        "Pts": points,
        "Wins": wins,
        "Draws": draws,
        "Losses": losses,
        "GoalsFor": goals_for,
        "GoalsAgainst": goals_against,
        "GoalsDifference": goals_for - goals_against,
    })

In [109]:
all_away = pd.DataFrame(standings)
all_away

,Team,Position,Pts,Wins,Draws,Losses,GoalsFor,GoalsAgainst,GoalsDifference
0,AS Rejiche,1,12,3,3,1,6,4,2
1,Etoile Sportive Du Sahel,2,9,2,3,2,6,4,2
2,Olympique Béja,3,8,2,2,3,6,6,0
3,Club Africain,4,8,2,2,3,3,4,-1
4,ES Zarzis,5,8,2,2,4,4,6,-2
5,US Monastir,6,7,1,4,1,1,2,-1
6,AS Soliman,7,3,0,3,4,2,7,-5
7,CS Chebba,8,3,1,0,6,2,8,-6

In [110]:
all_away.to_csv("data/2022/group2/group2_away_standings2023.csv", index=False)